* {
    margin: 0px;
    padding: 0px;
    font-family: 'HelvNeue';
}

@font-face {
    font-family: "HelvNeue";
    src: url("../img/helveticaneue/HelveticaNeue.ttf");
}

@font-face {
    font-family: "HelvNeue-bold";
    src: url("../img/helveticaneue/HelveticaNeueBd.ttf");
}

.cabecera {
    height: 100vh;
    background-image: url("../img/group@2x.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.barizq {
    height: 100%;
    width: 10%;
    border-right: 2px solid white;
    float: left;
}

.imgtennis {
    display: block;
    margin: auto;
    cursor: pointer;
    padding-top: 15%;
    max-width: 80%;
    height: auto;
}

.navbar {
    float: left;
    width: 89.5%;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.navbar ul {
    list-style-type: none;
    padding: 3% 0% 3% 2%;
}

.navbar ul a {
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 1%;
    background-image: linear-gradient(currentcolor, currentcolor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.navbar ul a:active {
    font-weight: bold;
}

.navbar ul a:hover, a:focus {
    background-size: 100% 2px;
}

li {
    display: inline;
    padding: 0% 4% 0% 4%;
}

.lenguaje {
    float: right;
}

.boton {
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 2.5% 5% 2.5% 5%;
    border: 1px solid #ffffff;
    border-radius: 50px;
    width: 32%;
    cursor: pointer;
    transition-duration: 1s;
}

.boton img {
    float: right;
    margin-top: 3%;
}

.boton:hover {
    background: #cbe346;
    color: #282e47;
    border: 1px solid #282e47;
    filter: brightness(1);
    transition-duration: 1s;
}

.botonn {
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 2.5% 5% 2.5% 5%;
    border: 1px solid #282e47;
    border-radius: 50px;
    width: 32%;
    cursor: pointer;
    transition-duration: 1s;
    color: #282e47;
}

.botonn img {
    float: right;
    margin-top: 3%;
}

.botonn:hover {
    background: #cbe346;
    color: #ffffff;
    border: 1px solid #ffffff;
    filter: brightness(1);
    transition-duration: 1s;
}

.titulo {
    float: left;
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    width: 45%;
    padding-left: 5%;
    position: relative;
    top: 25%;
}

.titulo span {
    color: #cbe346;
    font-weight: bold;
    font-family: "Helvneue-bold";
    letter-spacing: 0px;
}

.imgblanco {
    filter: brightness(8);
}

.cont1 {
    background-color: #f3f4f8;
    height: 40vh;
    padding-top: 5%;
    width: 100%;
}

.contenedor11 {
    width: 33.33%;
    height: 100%;
    float: left;
}

.contenedor11 div {
    float: right;
    padding-top: 2%;
}

.contenedor21 {
    width: 33.33%;
    /* background-color: black; */
    height: 100%;
    float: left;
}

.contenedor21 div:nth-child(1) {
    font-size: 3rem;
    color: #1e2335;
}

.contenedor21 div:nth-child(2) {
    color: #787878;
    font-size: 18px;
    width: 85%;
}

.contenedor31 {
    width: 33.33%;
    /* background-color: yellow; */
    height: 100%;
    float: left;
}

.cont2 {
    height: 70vh;
    /* background-color: #cbe346; */
    width: 100%;
}

.contenedor12 {
    position: relative;
    height: 100%;
    width: 35%;
    background-color: #f3f4f8;
    /* background-image: url("../img/carrusel-1.png"); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    float: left;
}

.contenedor12 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: none;
}

.contenedor12 img:nth-child(1) {
    display: block;
}

.contenedor12 .contenido12 {
    color: #ffffff;
    position: absolute;
    top: 15%;
    left: 30%;
    font-size: 3rem;
    letter-spacing: .2rem;
}

.contenedor12 .contenido12 .font-bold {
    font-family: "HelvNeue-bold";
    letter-spacing: 0rem;
}

.contenido12 div:nth-child(2) {
    font-size: 1rem;
    line-height: 2rem;
    width: 80%;
}

.posicion-carrusel {
    margin-top: 7%;
    width: 50%;
    height: 20px;
}

.posicion-carrusel img {
    float: left;
    width: auto;
    height: auto;
    display: block;
    object-fit: none;
    padding: 0% 7% 0% 7%;
    /* cursor: pointer; */
}

.posicion-carrusel img:nth-child(1) {
    padding-left: 0%;
}

.ctr-carrusel {
    margin-top: 7%;
    width: 100%;
    height: 20px;
}

.ctr-carrusel div {
    margin-top: 2%;
    height: 52px;
    width: 52px;
    background-color: #ffffff00;
    border: 1px solid #ffffff;
    border-radius: 100%;
    float: left;
    box-shadow: 0px 5px 8px -2px #1e2335;
    cursor: pointer;
}

.ctr-carrusel div img {
    position: relative;
    top: 39%;
    left: 32%;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.ctr-carrusel img {
    float: left;
    width: auto;
    height: auto;
    display: block;
    object-fit: none;
    padding: 0% 7% 0% 7%;
    cursor: pointer;
}

.contenedor22 {
    height: 100%;
    width: 65%;
    float: left;
    overflow: hidden;
}

.raquetas {
    overflow: hidden;
    position: relative;
    top: 17.5%;
    left: 10%;
    /* width: 90%; */
    height: 65%;
    /* background-color: #787878; */
    display: flex;
}

.raqueta {
    cursor: pointer;
    height: 100%;
    width: 35%;
    background-color: #f3f4f8;
    float: left;
    margin-right: 4%;
    border-radius: 20px;
}

.raqueta:hover {
    box-shadow: inset 0px 0px 3px 0px #1e2335;
}

.raqueta img {
    position: relative;
    height: 85%;
    width: auto;
    left: 9%;
}

.raqueta .numero {
    position: relative;
    top: 4%;
    left: 4%;
    color: #ffffff;
    background-color: #cbe346;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    z-index: 99;
}

.raqueta .numero span {
    position: relative;
    top: 25%;
    left: 38%;
}

.cont3 {
    background-image: url("../img/action-athlete-ball-342361@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 82vh;
    width: 100%;
}

footer {
    height: 30vh;
    background-color: #cbe346;
}

.contenedor_footer {
    width: 88%;
    height: 60%;
    position: relative;
    left: 7%;
    top: 20%;
    /* background-color: #282e47; */
}

.contenedor_footer .navbar img {
    float: left;
    margin-top: 1%;
    margin-right: 1%;
}

.contenedor_footer img {
    margin-top: 3%;
    float: right;
    cursor: pointer;
}

.contenedor_footer .navbar {
    width: inherit;
    /* color: #2b3049; */
}

.contenedor_footer .navbar ul {
    padding: 3% 0% 2% 0%;
}

.contenedor_footer li {
    padding: 0% 2% 0% 0%;
}

.contenedor_footer .navbar ul a {
    color: #2b3049;
    font-weight: bold;
}

.bg-verde {
    background: #cbe346;
}

.txt-verde {
    color: #cbe346;
}

.bold {
    font-weight: bold;
}

.lpace1 {
    letter-spacing: 1px;
}

.position_relative {
    position: relative;
}

.top-50 {
    top: 50%;
}

/* Atajos a margin y padding */

.ml-2 {
    margin-left: 2%;
}

.mt-5 {
    margin-top: 5%;
}

.pb-1 {
    padding-bottom: 1%;
}

@media (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}